<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="SLONOAPP_VERSIONCODE"
    android:versionName="SLONOAPP_VERSIONNAME"
    android:installLocation="0"
    android:compileSdkVersion="32"
    android:compileSdkVersionCodename="12"
    package="SLONOAPP_PACKAGE"
    platformBuildVersionCode="32"
    platformBuildVersionName="12"
    >
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="32"
        >
    </uses-sdk>
    <uses-permission
        android:name="android.permission.INTERNET"
        >
    </uses-permission>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        >
    </uses-permission>
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE"
        >
    </uses-permission>
    <uses-permission
        android:name="android.permission.VIBRATE"
        >
    </uses-permission>
    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED"
        >
    </uses-permission>
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        >
    </uses-permission>
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"
        >
    </uses-feature>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"
        >
    </uses-feature>
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="true"
        >
    </uses-feature>
    <uses-feature
        android:name="android.hardware.screen.landscape"
        android:required="false"
        >
    </uses-feature>
    <queries
        >
        <intent
            >
            <action
                android:name="android.intent.action.VIEW"
                >
            </action>
            <data
                android:scheme="https"
                >
            </data>
        </intent>
        <intent
            >
            <action
                android:name="android.media.action.IMAGE_CAPTURE"
                >
            </action>
        </intent>
        <intent
            >
            <action
                android:name="android.media.action.VIDEO_CAPTURE"
                >
            </action>
        </intent>
        <intent
            >
            <action
                android:name="android.intent.action.GET_CONTENT"
                >
            </action>
            <data
                android:mimeType="image/*"
                >
            </data>
        </intent>
    </queries>
    <application
        android:label="SLONOAPP_NAME"
        android:icon="@7F030000"
        android:name="androidx.multidex.MultiDexApplication"
        android:hardwareAccelerated="true"
        android:banner="@7F020000"
        android:networkSecurityConfig="@7F060001"
        >
        <meta-data
            android:name="targetedAppStore"
            android:value="google"
            >
        </meta-data>
        <activity
            android:theme="@android:01030007"
            android:label="SLONOAPP_NAME"
            android:icon="@7F030000"
            android:name="com.ansca.corona.CoronaActivity"
            android:exported="true"
            android:launchMode="2"
            android:screenOrientation="1"
            android:configChanges="0x000004F0"
            android:resizeableActivity="false"
            >
            <meta-data
                android:name="requestedDefaultOrientation"
                android:value="portrait"
                >
            </meta-data>
            <intent-filter
                >
                <action
                    android:name="android.intent.action.MAIN"
                    >
                </action>
                <category
                    android:name="android.intent.category.LAUNCHER"
                    >
                </category>
            </intent-filter>
        </activity>
        <receiver
            android:name="com.startapp.android.publish.common.metaData.BootCompleteListener"
            android:exported="false"
            >
            <intent-filter
                >
                <action
                    android:name="android.intent.action.BOOT_COMPLETED"
                    >
                </action>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@android:01030005"
            android:name="com.startapp.android.publish.adsCommon.activities.FullScreenActivity"
            android:configChanges="0x000004A0"
            >
        </activity>
        <service
            android:name="com.startapp.android.publish.common.metaData.PeriodicJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            >
        </service>
        <activity
            android:theme="@android:0103000F"
            android:name="com.startapp.android.publish.adsCommon.activities.OverlayActivity"
            android:configChanges="0x000004A0"
            >
        </activity>
        <service
            android:name="com.startapp.android.publish.common.metaData.PeriodicMetaDataService"
            >
        </service>
        <activity
            android:theme="@android:01030005"
            android:name="com.startapp.android.publish.ads.list3d.List3DActivity"
            >
        </activity>
        <service
            android:name="com.startapp.android.publish.common.metaData.InfoEventService"
            >
        </service>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"
            >
        </uses-library>
        <activity
            android:theme="@android:01030007"
            android:name="com.ansca.corona.CameraActivity"
            android:screenOrientation="1"
            android:configChanges="0x000000A0"
            >
        </activity>
        <activity
            android:theme="@android:01030007"
            android:name="com.ansca.corona.VideoActivity"
            android:configChanges="0x000000A0"
            >
        </activity>
        <activity
            android:theme="@android:01030007"
            android:name="com.ansca.corona.purchasing.StoreActivity"
            android:configChanges="0x000004A0"
            >
        </activity>
        <provider
            android:name="com.ansca.corona.storage.FileContentProvider"
            android:exported="true"
            android:authorities="SLONOAPP_PACKAGE.files"
            >
        </provider>
        <provider
            android:name="com.ansca.corona.camera.FileProvider"
            android:exported="false"
            android:authorities="SLONOAPP_PACKAGE.photos"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@7F060000"
                >
            </meta-data>
        </provider>
        <service
            android:name="com.ansca.corona.CoronaService"
            >
        </service>
        <receiver
            android:name="com.ansca.corona.SystemStartupBroadcastReceiver"
            android:exported="false"
            >
            <intent-filter
                >
                <action
                    android:name="android.intent.action.BOOT_COMPLETED"
                    >
                </action>
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.ansca.corona.notifications.AlarmManagerBroadcastReceiver"
            >
        </receiver>
        <receiver
            android:name="com.ansca.corona.notifications.StatusBarBroadcastReceiver"
            >
        </receiver>
    </application>
</manifest>